.box-outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin: 12px 25px;
    box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 75%);
}

.box-outer p{
    font-size: 14px;
    color: #333;
}

.rounded-btn{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}