.cards-wrap-item{
    margin: auto;
    box-shadow: 3px 3px 31px -5px rgb(0 0 0 / 75%);
    border-radius: 5px;
}
.card-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-row h3{
    margin: 8px;
    font-weight: 600;
    font-size: 14px;
}
.card-row p{
    margin: 8px;
    font-weight: 300;
    font-size: 12px;
}
.card-box{
    /* border: 2px solid blue; */
}
.card-box p{
    margin: 8px;
    padding: 2px 5px;
    font-size: 14px;
    text-align: left;
    color: #726d6d;
}