header{
    height: 7vh;
    width: 100%;
    background-color: #fff;
}
.container{
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container .left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .left > img{
    height: 30px;
    width: 30px;
}
/*  */
.container .left h2{
    font-size: 13px;
    font-weight: 400;
    margin-left: 14px;
    padding: 2px 4px;
}
 
 nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

 nav ul li{
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
 nav ul li a{
    text-decoration: none;
    color: #000;
}

 nav ul li a:hover,
 nav ul li a:active
{
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.2rem;
}
